#!/bin/bash

# Folders
alias dotfiles="cd $HOME/code/dotfiles"
alias GO_PRACTICE="cd $HOME/code/lib/go/src/github.com/dmoini/go-practice"

# Git
alias ga="git add"
alias gaa="git add -A"
alias gau="git add --update"
alias gb="git branch"
alias gbd="git branch --delete "
alias gca="git commit --amend"
alias gcam="git commit --amend -m"
alias gcm="git commit -m"
alias gco="git checkout"
alias gcob="git checkout -b"
alias gcod="git checkout develop"
alias gcom="git checkout master"
alias gcos="git checkout staging"
alias gcpaste="git clone \$(pbpaste)"
alias gd="git diff"
alias gda="git diff HEAD"
alias gfp="git fetch --all && git reset --hard origin/master"
alias ghh="gh-home"
alias gl="git log"
alias glcm="git show-branch --no-name HEAD"
alias glg="git log --graph --oneline --decorate --all"
alias gld="git log --pretty=format:'%h %ad %s' --date=short --all"
alias gm="git merge --no-ff"
alias gma="git merge --abort"
alias gmc="git merge --continue"
alias gmom="git merge origin/master"
alias gp="git pull"
alias gpr="git pull --rebase"
alias gr="git rebase"
alias gs="git status"
alias gss="git status --short"
alias gst="git stash"
alias gsta="git stash apply"
alias gstc="git stash clear"
alias gstd="git stash drop"
alias gstl="git stash list"
alias gstp="git stash pop"
alias gsts="git stash save"
alias gu="git push"
alias guo="git push -u origin"

# Homebrew
alias bci="brew cask install"
alias bcu="brew cask uninstall"

# LastPass CLI
alias lpass-passclip="lpass show --password -c"

# Node
alias nv="node --version"

# Python
alias dvenv="deactivate"
alias mvenv="virtualenv venv"
alias venv="source venv/bin/activate"

# Shell
alias sz="source ~/.zshrc"
alias va="$EDITOR ~/.aliases"
alias ve="$EDITOR ~/.exports"
alias vf="$EDITOR ~/.functions"
alias vl="$EDITOR ~/.localrc"
alias vz="$EDITOR ~/.zshrc"

# Miscellaneous
alias afk="open -a /System/Library/CoreServices/ScreenSaverEngine.app"
alias cx="chmod +x"
alias cleanupDS="find . -type f -name '*.DS_Store' -ls -delete"
alias fcl="fortune -a | cowsay | lolcat"
alias ip="ipconfig getifaddr en0"
alias path="echo '${PATH//:/\n}'"
alias sp="spotify"
alias ys="yarn start"
