#!/bin/bash

# Folders
alias dotfiles="cd $HOME/code/dotfiles"
alias GO_PRACTICE="cd $HOME/code/lib/go/src/github.com/dmoini/go-practice"

# Git
alias ga="git add"
alias gaa="git add -A"
alias gb="git branch"
alias gbd="git branch --delete"
alias gca="git commit --amend"
alias gcam="git commit --amend -m"
alias gcm="git commit -m"
alias gco="git checkout"
alias gcob="git checkout -b"
# alias gcom="git checkout master"
alias gcpaste="git clone \$(pbpaste)"
alias gd="git diff"
alias gda="git diff HEAD"
alias ghh="gh-home"
alias gl="git log"
alias gm="git merge"
alias gma="git merge --abort"
alias gmc="git merge --continue"
# alias gmom="git merge origin/master"
alias gp="git pull"
alias gpr="git pull --rebase"
alias gr="git rebase"
alias gra="git rebase --abort"
alias grc="git rebase --continue"
alias gs="git status"
alias gst="git stash"
alias gstc="git stash clear"
alias gstp="git stash pop"
alias gu="git push"
alias guo="git push -u origin"

# Homebrew
alias bci="brew cask install"
alias bcu="brew cask uninstall"

# LastPass CLI
alias lpass-passclip="lpass show --password -c"

# Node
alias nv="node --version"

# Python
alias dvenv="deactivate"
alias mvenv="virtualenv venv"
alias venv="source venv/bin/activate"

# Shell
alias sz="source ~/.zshrc"
alias va="$EDITOR ~/.aliases"
alias ve="$EDITOR ~/.exports"
alias vf="$EDITOR ~/.functions"
alias vl="$EDITOR ~/.localrc"
alias vv="$EDITOR ~/.vimrc"
alias vz="$EDITOR ~/.zshrc"

# Miscellaneous
alias afk="open -a /System/Library/CoreServices/ScreenSaverEngine.app"
alias cx="chmod +x"
alias cleanupDS="find . -type f -name '*.DS_Store' -ls -delete"
alias fcl="fortune -a | cowsay | lolcat"
alias ip="ipconfig getifaddr en0"
alias path="echo '${PATH//:/\n}'"
alias sp="spotify"
alias ys="yarn start"
