#!/bin/bash

# Editor
export EDITOR=$(which vim)

# Go
export GOPATH="$HOME/code/lib/go"
export GOROOT="/usr/local/opt/go/libexec"
export PATH="$PATH:$GOPATH/bin"

# Java
export JAVA_HOME="/Library/Java/JavaVirtualMachines/openjdk-14.0.1.jdk/Contents/Home"

# Mongo
export MONGO_PATH="/usr/local/mongodb"
export PATH="$PATH:$MONGO_PATH/bin"

# Python
# export PATH="$PATH:/Library/Frameworks/Python.framework/Versions/3.7/bin"
# export PATH="$PATH:$HOME/Library/Python/3.7/bin"

# Personal scripts
export PATH="$PATH:$HOME/code/scripts"

# Pip
# export PIP_REQUIRE_VIRTUALENV=true

# Zsh
export UPDATE_ZSH_DAYS=7
export ZSH="$HOME/.oh-my-zsh"

# Miscellaneous
export PATH="$PATH:/usr/local/sbin"
