#!/bin/bash

# Editor
export EDITOR="vim"
export VISUAL="vim"

# Go
export GOPATH="$HOME/code/lib/go"
export GOROOT="/usr/local/opt/go/libexec"
export PATH="$GOPATH/bin:$PATH"

# Java
export JAVA_HOME="/Library/Java/JavaVirtualMachines/openjdk-14.0.1.jdk/Contents/Home"

# Mongo
export MONGO_PATH="/usr/local/mongodb"
export PATH="$MONGO_PATH/bin:$PATH"

# Python
# export PATH="/usr/local/opt/python@3.7/bin:$PATH"

# Personal scripts
export PATH="$HOME/code/scripts:$PATH"

# Pip
export PIP_REQUIRE_VIRTUALENV=true

# Zsh
export UPDATE_ZSH_DAYS=7
export ZSH="$HOME/.oh-my-zsh"

# Miscellaneous
export PATH="/usr/local/sbin:$PATH"
