[user]
    name = Donovan Moini
    email = donovanmoini@gmail.com
[credential]
    helper = osxkeychain
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[color]
    ui = auto
[pull]
    rebase = false
[alias]
    unstage = reset HEAD --
